<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <nav><a href="/">Home</a>
         <a href="/about">About</a>
         <a href="/contact">Contact</a></nav>
    <div class="container">
        <h1>About us</h1>
        <p>
            we teach Python,Flask,data Analytics,and Machine Learning.
        </p><p>
        Flask is a lightweight Python framework used to build web applications.
    </p>
    </div>
</body>
</html>